@font-face {
	font-family: 'Galaxy';
    src: url('/webfonts/DISTGRG.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html::-webkit-scrollbar{
  width: 0.8rem;
}

html::-webkit-scrollbar-track{
  background: #232323;
}

html::-webkit-scrollbar-thumb{
  background: #ffff;
}

*::selection {
  background: #ffff;
  color: #232323;
}

body {
	background-color: #232323;
	font-family: 'Montserrat', sans-serif;
	color: #ffff;
}

.main {
	margin: 40px 350px !important;
}

h1 {
	font-family: 'Galaxy';
	font-weight: lighter;
	text-align: center;
	font-size: 60px;
}

/* Input */
.inputContainer {
	display: flex;
	justify-content: center;
	margin-top: 10px;
	padding: 0 2px;
}
#inputField {
	font-size: 18px;
	padding: 2px 10px;
	width: 100% !important;
	height: 38px;
	border-radius: 4px;
	border: 1px solid #6E6E6E;
	background-color: #3D3D3D;
	caret-color: #ffff;
	color: #ffff;
}
/* Akhir Input */

/* Button */
.button {
	margin-top: 10px !important;
}
#addButton,
#clearButton {
	font-weight: 600;
	font-size: 16px;
	margin-left: 0 !important;
	margin-right: 8px !important;
	padding: 11px 25px;
	border-radius: 4px;
	color: #f2f2f8;
	transition: all 0.5s ease !important;
}
#clearButton {
	background: linear-gradient(to bottom, #68BB48, #409735);
	border: 1px solid #68BB48;
}
#addButton {
	border: 1px solid #933DED;
	background: linear-gradient(to bottom, #933DED, #7F34CC);
}
#addButton:hover {
	background: #232323 !important;
	border: 1px solid #933DED;
	color: #933DED;
}
#clearButton:hover {
	background: #232323 !important;
	border: 1px solid #68BB48;
	color: #68BB48;
}
/* Akhir Button */

/* List */
.listContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	margin-top: 10px;
}

.list {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	margin-right: 8px;
	padding: 11px 10px;
	border-radius: 4px;
	border: 1px solid #6E6E6E;
	width: 100%;
	background-color: #3D3D3D;
}

.removeButton {
	margin: 0 !important;
	height: 42px !important;
	font-weight: 600;
	font-size: 16px;
	padding: 11px 25px;
	border-radius: 4px;
	color: #f2f2f8;
	transition: all 0.5s ease !important;
	background: linear-gradient(to bottom, #F25050, #F73434); /* #FF4A4A #FF3636 */
	border: 1px solid #F25050;
}
.removeButton:hover {
	background: #232323 !important;
	border: 1px solid #F25050;
	color: #F25050;
}
/* Akhir List */

@media (max-width: 992px) {
	.main {
		margin: 40px 70px !important;
	}
}

@media (max-width: 782px) {
	.main {
		margin: 40px 25px !important;
	}
	h1 {
		font-size: 45px;
	}
}